{{ define "main" }}
    {{ $paginator := .Paginate .Data.Pages }}

    <main class="posts">
        <h1 style="font-size: 30px; text-align: center">{{ .Title }}</h1>
        <p style="font-size: 20px; text-align: center; color: #797a7e">Artikel, tutorial, <code>perkuliahan</code> dan yang lainnya</p>
        <br><br>

        {{ if .Content }}
            <div class="content">{{ .Content }}</div>
        {{ end }}

        {{ range $paginator.Pages.GroupByDate "2006" }}
            <div class="post-year">{{ .Key }}</div>
            <div class="posts-group">
                <ul class="posts-list">
                    <li class="post-item">
                        {{ range .Pages }}
                            <a href="{{.Permalink}}">
                                <span class="post-title" style="text-decoration: underline;">{{.Title}}</span>
                                <span class="post-day">
                                    {{ if .Site.Params.dateformShort }}
                                        {{ .Date.Format .Site.Params.dateformShort }}
                                    {{ else }}
                                        {{ .Date.Format "Jan 2"}}
                                    {{ end }}
                                </span>
                            </a>
                        {{ end }}
                    </li>
                </ul>
            </div>
        {{ end }}
    {{ partial "pagination.html" . }}
    </main>
{{ end }}
